@model StajyerTakipSistemi.Web.Models.SApplication

@{
    ViewData["Title"] = "Create";
    Layout = "_AdminLayout";
}
<style>
    main.pb-3 {
        overflow: visible !important;
        font-size: smaller !important;
        
    }

    .s-container {
        background-color: white;
        border-radius: 20px;
        padding: 1rem;
        max-height: 600px;
        min-height: 600px;
        height: 600px;
    }

 

    .parent {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        padding:2rem;
    }
    .parent div{
        padding:1rem;
    }

    .clone-button {
        display: inline-block;
        font-size: 1em;
        background: #fff;
        padding: 10px 30px;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 500;
        margin-top: 10px;
        color: #111;
        letter-spacing: 2px;
        transition: 0.2s;
    }

        .clone-button:hover {
            letter-spacing: 6px;
        }

    #alertDiv {
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1000;
    }
</style>
@if (TempData["Message"] != null)
{
    <div id="alertDiv" class="alert @(TempData["AlertClass"])">
        @TempData["Message"]
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            setTimeout(function () {
                var alertDiv = document.getElementById('alertDiv');
                alertDiv.style.display = 'none';
            }, 5000);
        });
    </script>
}
<div class="container">
    <div class="con">
        <div class="header">
            <div class="header__title">YENİ OLUŞTUR</div>
        </div>
<div class="s-container">
    
        <form asp-action="Create">
        <div class="parent"  >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" style="grid-area: 1 / 1 / 2 / 3;">
                <label asp-for="FirstName" class="control-label">Ad</label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group" style="grid-area: 1 / 4 / 2 / 6;">
                <label asp-for="LastName" class="control-label">Soyad</label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group" style="grid-area: 2 / 1/ 3 / 3;">
                <label asp-for="Email" class="control-label">E-posta Adresi</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group" style="grid-area: 2 / 4 / 3 / 6;">
                <label asp-for="PhoneNumber" class="control-label">Telefon Numarası</label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group" style="grid-area: 3 / 1 / 4 / 3;">
                <label asp-for="BirthDate" class="control-label">Doğum Tarihi</label>
                <input asp-for="BirthDate" class="form-control" />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group" style="grid-area:3 / 4 / 4 / 6;">
                <label asp-for="Address" class="control-label">Adres</label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group" style="grid-area: 4/ 1 / 5 / 3;">
                <label asp-for="DesiredField" class="control-label">İstenilen Alan</label>
                <select asp-for="DesiredField" class="form-control">
                    <option value="Web Programlama">Web Programlama</option>
                    <option value="Mobil Uygulama">Mobil Uygulama</option>
                    <option value="Oyun Geliştirme">Oyun Geliştirme</option>
                    <option value="Siber Güvenlik">Siber Güvenlik</option>
                    <option value="Yapay Zeka">Yapay Zeka</option>
                    <option value="Sosyal Medya Yönetimi">Sosyal Medya Yönetimi</option>
                </select>
                <span asp-validation-for="DesiredField" class="text-danger"></span>
            </div>
            <div class="form-group" style="grid-area: 4 / 4 / 5 / 6;">
                <label asp-for="Explanation" class="control-label">Açıklama</label>
                <input asp-for="Explanation" class="form-control" />
                <span asp-validation-for="Explanation" class="text-danger"></span>
            </div>
            <div class="form-group" style="grid-area: 5 / 1 / 6 / 3;">
                <label asp-for="ApprovalStatus" class="control-label">Onay Durumu</label>
                <select asp-for="ApprovalStatus" class="form-control">
                    <option value="Beklemede">Beklemede</option>
                    <option value="Onaylandı">Onaylandı</option>
                    <option value="Reddedildi">Reddedildi</option>
                </select>
                <span asp-validation-for="ApprovalStatus" class="text-danger"></span>
            </div>
             
            <div class="form-group " style="grid-area: 6 / 1 / 7 / 3;">

                <input type="submit" value="OLUŞTUR" class="clone-button" />
                <a class="clone-button" asp-action="Index">LİSTEYE DÖN</a>
            </div>
             
        </div>
        </form>
    
</div>



    </div>
</div>